.container h1 {
font-weight: 600;
font-size: 50px;
color:#E97777;
text-align: center;
font-family:'Dancing Script';
margin:0px;
}
.loginsignup{
    width: 100%;
    height: 80vh;
    background: white;
    padding-top: 20px;
}
.container {
    width: 400px;
    height: 400px;
    background: #E97777;
    margin:auto;
    padding: 20px 20px;
}
.fields {
    display:flex;
    flex-direction: column;
    gap:29px;
    margin-top:30px;
}
.fields input {
    height:50px;
    width: 100%;
    padding-left: 20px ;
    border:1px solid #E97777;
    outline:none;
    color: #5c5c5c;
    font-size:12px;
    border-radius: 10px;
}
.container button {
    background: #e97777;
    border: 2px solid #e97777;
    color:white;
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 18px;
    cursor: pointer;
    margin-left: 30px;
    margin-top:20px;
    font-weight: 500px;
  }
.loginsignup-login {
    margin-top:20px;
    color:#5c5c5c;
    font-size:16px;
    font-weight: 500px;
}
.loginsignup-login  span {
    color: #e97777;
    font-weight: 500;
    text-decoration: underline;
}